In [27]:
employee=["A","B","C","D","E"]
print(employee)
employee[-5]
employee.append("F")
print(employee)
employee.insert(2,"BB")
print(employee)
employee[-7]="A A"
employee
del employee[0]
print(employee)

['A', 'B', 'C', 'D', 'E']
['A', 'B', 'C', 'D', 'E', 'F']
['A', 'B', 'BB', 'C', 'D', 'E', 'F']
['B', 'BB', 'C', 'D', 'E', 'F']

6

In [30]:
employee.index("B")

0

In [29]:
len(employee)

6

In [31]:
employee.remove("BB")
employee

['B', 'C', 'D', 'E', 'F']

# List of lists

In [48]:
employee1=["Yasir",22,"Male"]
employee2=["Shah",20,"Male"]
employees=[employee1,employee2]
print(employees)
employees=[employee1,employee2,["Hamza",25,"Male"],["Ali",24,"Male"]]
print(employees)
print(employees[1])
print(employees[0][1])
employees[0][1]+employees[1][1]+employees[2][1]+employees[3][1]
employees[2].append(20000)
employees[2]

[['Yasir', 22, 'Male'], ['Shah', 20, 'Male']]
[['Yasir', 22, 'Male'], ['Shah', 20, 'Male'], ['Hamza', 22, 'Male'], ['Ali', 24, 'Male']]
['Shah', 20, 'Male']
22

['Hamza', 22, 'Male', 20000]

# For Loops

In [62]:

total_hours=0
for listt in employees:
    total_hours+=listt[1]
total_hours

88

In [86]:
for listt in employees:    
    print(listt[0])

Yasir
Shah
Hamza
Ali

# Slicing

In [98]:
employee1=["Yasir",22,"Male"]
employee1.append("AI Eng")
employee1.append(300000)

In [99]:
employee1

['Yasir', 22, 'Male', 'AI Eng', 300000]

In [107]:
i=1
print(employee1[1:3+i])
print(employee1[1:])
print(employee1[:3])
employee1[:]
# Step Slicing
employee1[1:4:3]

[22, 'Male', 'AI Eng']
[22, 'Male', 'AI Eng', 300000]
['Yasir', 22, 'Male']

[22]

In [111]:
a=employees[0].pop(4)

In [115]:
print(a)
employees[0]

300000

['Yasir', 22, 'Male', 300000, 'AI Eng', 300000]

# Conditional Statements
# Comparision Operators

In [117]:
d=2==2
d

True

In [118]:
d=2==3
d

False

In [120]:
h="Type"
type(h)

str

In [121]:
h=True
type(h)

bool

In [139]:
emp_greater25=[]
for listt in employees:    
    if listt[1]>=22:
        emp_greater25.append(listt[0])
        #print(listt[0])ArithmeticError
    else:
        print(listt[0])                            
emp_greater25

Shah

['Yasir', 'Hamza', 'Ali']

In [142]:
username="SKS"
password="123456"
if username=="SKS":
    print("Username Matched")
    if password=="123456":
        print("Password Matched")
    else:
        print("Incorrect Password")        
else:
    print("Incorrect Username")

Username Matched
Password Matched

In [144]:
if username=="SKS" and password=="123456":
    print("Credentials Matched")
else:
    print("Credentials not Matched")

Credentials Matched

>85-A
>75-B
>65-C
>50-D
<50

In [147]:
marks=89
if marks>=85:
    print("A")
elif marks>75:
    print("B")
elif marks>65:
    print("C")
elif marks>50:
    print("D")
else:
    print("F")

A