In [1]:
employeeData = [["Ali", 35000, "Software Engineer"],
				["Talha", 55000, "Product Manager"],
				["Nasir", 79000, "Computer Engineer"],
				["Khalid", 44000, "DBA"]]
for employee in employeeData:
    print("*"*30)
    for e in employee:
        print(e)

******************************
Ali
35000
Software Engineer
******************************
Talha
55000
Product Manager
******************************
Nasir
79000
Computer Engineer
******************************
Khalid
44000
DBA

In [2]:
range(0,6)
for num in range(6):
    print(num)

0
1
2
3
4
5

In [3]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
dataset=[]
iteration=int(input("How many Values"))
for i in range(iteration):
    name=input("Enter your Name: ")
    email=input("Enter your EMail: ")
    hobbies=input("Enter your Hobbies: ")
    hobbies=hobbies.split(",")
    
    dataset.append([name,email,hobbies])

How many Values1
Enter your Name: Shahroze
Enter your EMail: s@gmail.com
Enter your Hobbies: a,b

In [7]:
dataset

[['Shahroze', 's@gmail.com', ['a', 'b']]]

# Dictionary
. dictionary is a key value pair:[key:value]
. there cannot be list in key

In [10]:
'''
employee1=[["Name","Age","Gender","Salary"],
           ['waqas',27,'Male',35000]]
'''           
employee={"Name":"Waqas","Age":27,"Gender":"Male","Salary":35000}
print(type(employee))
print(employee)

<class 'dict'>
{'Name': 'Waqas', 'Age': 27, 'Gender': 'Male', 'Salary': 35000}

In [12]:
# in dictionary there is key while in list index matter
# list is ordered and dictionary is unordered
# there is no insert method in dict
# there is no repition of key in dict
# list ko key ni bna skte
# dict ki key mein list r dict ni aa skti
# key can't be updatable but can be removed
employee["Name"]

'Waqas'

In [13]:
employee["Name"]="M. Waqas"
employee

{'Name': 'M. Waqas', 'Age': 27, 'Gender': 'Male', 'Salary': 35000}

In [17]:
employee["Location"]="FSD"

In [18]:
employee

{'Name': 'M. Waqas',
 'Age': 27,
 'Gender': 'Male',
 'Salary': 35000,
 0: 'FSD',
 'Location': 'FSD'}

In [19]:
del employee[0]

In [20]:
employee

{'Name': 'M. Waqas',
 'Age': 27,
 'Gender': 'Male',
 'Salary': 35000,
 'Location': 'FSD'}

In [22]:
employee["Department"]=["Finance","D.S"]
employee

{'Name': 'M. Waqas',
 'Age': 27,
 'Gender': 'Male',
 'Salary': 35000,
 'Location': 'FSD',
 'Department': ['Finance', 'D.S']}

In [24]:
employee["subordinate"]={"Fin":"Shahzad","D.S":"Noman"}
employee

{'Name': 'M. Waqas',
 'Age': 27,
 'Gender': 'Male',
 'Salary': 35000,
 'Location': 'FSD',
 'Department': ['Finance', 'D.S'],
 'subordinate': {'Fin': 'Shahzad', 'D.S': 'Noman'}}

In [25]:
# tuple's value can't be changed
# Tuple in dict's tuple
employee[(1,2)]=7
employee

{'Name': 'M. Waqas',
 'Age': 27,
 'Gender': 'Male',
 'Salary': 35000,
 'Location': 'FSD',
 'Department': ['Finance', 'D.S'],
 'subordinate': {'Fin': 'Shahzad', 'D.S': 'Noman'},
 (1, 2): 7}

In [26]:
employee1=employee

In [27]:
employee1

{'Name': 'M. Waqas',
 'Age': 27,
 'Gender': 'Male',
 'Salary': 35000,
 'Location': 'FSD',
 'Department': ['Finance', 'D.S'],
 'subordinate': {'Fin': 'Shahzad', 'D.S': 'Noman'},
 (1, 2): 7}

In [28]:
employee2=employee
employee2

{'Name': 'M. Waqas',
 'Age': 27,
 'Gender': 'Male',
 'Salary': 35000,
 'Location': 'FSD',
 'Department': ['Finance', 'D.S'],
 'subordinate': {'Fin': 'Shahzad', 'D.S': 'Noman'},
 (1, 2): 7}

In [29]:
employees=[employee1]
employees.append(employee2)
employees

[{'Name': 'M. Waqas',
  'Age': 27,
  'Gender': 'Male',
  'Salary': 35000,
  'Location': 'FSD',
  'Department': ['Finance', 'D.S'],
  'subordinate': {'Fin': 'Shahzad', 'D.S': 'Noman'},
  (1, 2): 7},
 {'Name': 'M. Waqas',
  'Age': 27,
  'Gender': 'Male',
  'Salary': 35000,
  'Location': 'FSD',
  'Department': ['Finance', 'D.S'],
  'subordinate': {'Fin': 'Shahzad', 'D.S': 'Noman'},
  (1, 2): 7}]

In [30]:
employees[0]["Department"][1]

'D.S'

In [36]:
for i in employee1:
    print(i)
for i in employee1:
    print(i,employee2[i])

Name
Age
Gender
Salary
Location
Department
subordinate
(1, 2)
Name M. Waqas
Age 27
Gender Male
Salary 35000
Location FSD
Department ['Finance', 'D.S']
subordinate {'Fin': 'Shahzad', 'D.S': 'Noman'}
(1, 2) 7
Name
Age
Gender
Salary
Location
Department
subordinate
(1, 2)
M. Waqas
27
Male
35000
FSD
['Finance', 'D.S']
{'Fin': 'Shahzad', 'D.S': 'Noman'}
7

In [37]:
for i in employee1.items():
    print(i)

('Name', 'M. Waqas')
('Age', 27)
('Gender', 'Male')
('Salary', 35000)
('Location', 'FSD')
('Department', ['Finance', 'D.S'])
('subordinate', {'Fin': 'Shahzad', 'D.S': 'Noman'})
((1, 2), 7)

In [38]:
for i in employee1.values():
    print(i)

M. Waqas
27
Male
35000
FSD
['Finance', 'D.S']
{'Fin': 'Shahzad', 'D.S': 'Noman'}
7

In [39]:
for i in employee1.keys():
    print(i)

Name
Age
Gender
Salary
Location
Department
subordinate
(1, 2)

In [42]:
for i,j in employee1.items():
    print(i,j)

Name M. Waqas
Age 27
Gender Male
Salary 35000
Location FSD
Department ['Finance', 'D.S']
subordinate {'Fin': 'Shahzad', 'D.S': 'Noman'}
(1, 2) 7

In [43]:
employees[1]["subordinate"]["D.S"]

'Noman'

In [44]:
employees[0]['Department'].append("A.I")

In [45]:
employees

[{'Name': 'M. Waqas',
  'Age': 27,
  'Gender': 'Male',
  'Salary': 35000,
  'Location': 'FSD',
  'Department': ['Finance', 'D.S', 'A.I'],
  'subordinate': {'Fin': 'Shahzad', 'D.S': 'Noman'},
  (1, 2): 7},
 {'Name': 'M. Waqas',
  'Age': 27,
  'Gender': 'Male',
  'Salary': 35000,
  'Location': 'FSD',
  'Department': ['Finance', 'D.S', 'A.I'],
  'subordinate': {'Fin': 'Shahzad', 'D.S': 'Noman'},
  (1, 2): 7}]